@font-face {
    font-family: "EMprint Light";
    src: url("../fonts/EMprint-Light/EMprint-Light.eot"); /* IE9*/
    src: url("../fonts/EMprint-Light/EMprint-Light.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/EMprint-Light/EMprint-Light.woff2") format("woff2"),
        /* chrome、firefox */ url("../fonts/EMprint-Light/EMprint-Light.woff") format("woff"),
        /* chrome、firefox */ url("../fonts/EMprint-Light/EMprint-Light.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/EMprint-Light/EMprint-Light.svg#EMprint Light") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "EMprint Regular";
    src: url("../fonts/EMprint-Regular/EMprint-Regular.eot"); /* IE9*/
    src: url("../fonts/EMprint-Regular/EMprint-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/EMprint-Regular/EMprint-Regular.woff2") format("woff2"),
        /* chrome、firefox */ url("../fonts/EMprint-Regular/EMprint-Regular.woff") format("woff"),
        /* chrome、firefox */ url("../fonts/EMprint-Regular/EMprint-Regular.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/EMprint-Regular/EMprint-Regular.svg#EMprint Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "EMprint Semibold";
    src: url("../fonts/EMprint-Semibold/EMprint-Semibold.eot"); /* IE9*/
    src: url("../fonts/EMprint-Semibold/EMprint-Semibold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/EMprint-Semibold/EMprint-Semibold.woff2") format("woff2"),
        /* chrome、firefox */ url("../fonts/EMprint-Semibold/EMprint-Semibold.woff") format("woff"),
        /* chrome、firefox */ url("../fonts/EMprint-Semibold/EMprint-Semibold.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/EMprint-Semibold/EMprint-Semibold.svg#EMprint Semibold") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: "EMprint Bold";
    src: url("../fonts/EMprint-Bold/EMprint-Bold.eot"); /* IE9*/
    src: url("../fonts/EMprint-Bold/EMprint-Bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/EMprint-Bold/EMprint-Bold.woff2") format("woff2"),
        /* chrome、firefox */ url("../fonts/EMprint-Bold/EMprint-Bold.woff") format("woff"),
        /* chrome、firefox */ url("../fonts/EMprint-Bold/EMprint-Bold.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("../fonts/EMprint-Bold/EMprint-Bold.svg#EMprint Bold") format("svg"); /* iOS 4.1- */
}
