
    /* Cores */
    $azul: #0C479D;
    $vermelho:#FE000C;
    $amarelo: #F7D117;
    $cinza-1: #B5B5B5;
    $cinza-2: #5A5A5A;
    $bg-quiz-1:  #fff url('../images/bg-mapa.png');
    $bg-quiz-2: url('../images/bg-mapa.png'), radial-gradient(75.71% 120% at 38.16% 50.05%, #5F83B6 0%, #0C479D 100%);
    $sombra-quiz: 2px 2px 30px -10px rgba(0, 0, 0, 0.2);
    $body: #f0f2f6;

    /*Fonte*/
    $fonte-light: "EMprint Light";
    $fonte-regular: "EMprint Regular";
    $fonte-semibold: "EMprint Semibold";
    $fonte-bold: "EMprint Bold";
    $fonte-digital: 'DS-Digital';
    $fonte-digital-bold: 'DS-Digital-Bold';


    $danger: rgb(239, 108, 108);
    $obrigatorio: $danger;
    $label: #777;
    $txt: #444;


    

    /*Tabela*/
    $cor-table-faixa-clara: #fff;
    $cor-table-faixa-escura: rgba(0,0,0,.018); 
    $cor-table-faixa-hover: rgba(0,0,0,.035); 



    /*Transition*/
    $transition: all 90ms ease-in-out;

 



    /* Status*/
    $st-txt-success: #4F7467;
    $st-bg-success: #7af4bc;

    $st-txt-incomplete: #717239;
    $st-bg-incomplete: #F7FBA2;

    $st-txt-info: #475074;
    $st-bg-info: #cfd9fb;

    $st-txt-warning: #716433;
    $st-bg-warning: #EEE1AD;

    $st-txt-error: #723a2e;
    $st-bg-error: #ffab9b;

    $st-txt-canceled: #743360;
    $st-bg-canceled: #ff9bcd;

    $st-txt-closed: #f0f0f0;
    $st-bg-closed: #7e7e7e;
