@import "fonts", "normalize", "variables";

html,
body {
    height: 100%;
    font-size: 16px;
    background: $body;
    font-family: $fonte-regular;
}

body {
    position: relative;
}

@mixin icon($color, $background, $fontSize, $iconSize) {
    width: $iconSize;
    height: $iconSize;
    margin: 0 1rem 0 -#{$iconSize / 2};
    color: $color;
    background: $background;
    line-height: $iconSize;
    font-size: $fontSize;
    text-align: center;
    border-radius: $iconSize / 2;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar-btn {
    position: absolute;
    top: 1.8rem;
    left: 0.2em;
    border: none;
    background: none;
    font-size: 1.5em;
    color: $cinza-1;
    z-index: 99;

    &:active,
    &:focus {
        outline: none;
    }
}

.sidebar {
    padding: 0;
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: auto;
    $logo-height: 5.4rem;

    &.active {
        margin-left: -270px;
    }

    .logo {
        display: flex;
        background: #fff;
        justify-content: center;
        height: $logo-height;

        img {
            width: 6em;
        }
    }

    .container-menu {
        background: linear-gradient(180deg, #114fa8 0%, #1551a9 100%);
        // height: calc(100vh - #{$logo-height});
        // overflow-y: auto;
        // display: flex;
        // flex-wrap: wrap;

        ul {
            width: 60%;
            padding: 0;
            margin: 1.5rem 0;
            list-style-type: none;
            border-left: solid 2px #2d39a5;

            li {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin-bottom: 1.2rem;

                &:last-child {
                    margin-bottom: 0;
                }

                &.nav-item {
                    i {
                        @include icon($amarelo, #2865bc, 1.1rem, 2.6rem);
                    }

                    span {
                        text-transform: uppercase;
                    }
                }

                &.nav-subitem {
                    i {
                        @include icon(rgba(255, 255, 255, 0.7), #1b4c95, 0.9rem, 2.1rem);
                    }
                }

                a {
                    color: #fff;
                    outline: none;
                    text-decoration: none;
                    font-family: $fonte-semibold;
                    font-size: 0.9rem;

                    span {
                        transition: $transition;
                    }

                    &:hover span {
                        opacity: 1;
                        color: $amarelo;
                    }

                    &.sublink {
                        margin-left: 2rem;
                        font-size: 0.85rem;
                        font-family: $fonte-regular;
                    }

                    .icon-lock {
                        display: none;
                    }

                    &.nav-disabled {
                        cursor: default;

                        i {
                            color: rgba(255, 255, 255, 0.45) !important;
                        }

                        span,
                        &:hover span {
                            color: rgba(255, 255, 255, 0.45) !important;
                        }
                        .icon-default {
                            display: none;
                        }

                        .icon-lock {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.content {
    width: calc(100% - 270px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    // padding: 60px 0 20px;
    padding: 0;

    &.active {
        width: 100%;
    }
}

#content {
    .universal {
        left: 0 !important;
    }
}

.container-ppt {
    display: flex;
    justify-content: center;
}

.quizCard {
    background-image: $bg-quiz-2;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vh;
    width: 90%;
    box-shadow: $sombra-quiz;
    border-radius: 0.4rem;
    // margin: 20rem 0 0;

    .title-card {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.3rem 0.3rem 0 0;

        h1 {
            margin: 0;
            padding: 0 1.6rem;
            font-size: 1.6em;
            font-family: $fonte-semibold;
        }

        .logo-card {
            flex: 0 0 4rem;
            padding: 0.5rem;
            box-sizing: content-box;

            img {
                width: 100%;
            }
        }
    }

    .box-question {
        margin-bottom: 2rem;
    }

    .body-card {
        padding: 1.8rem 1rem 2.5em 1rem;

        .number {
            background: $amarelo;
            font-size: 1.4em;
            font-family: $fonte-semibold;
            text-align: right;
            padding: 0 0.5rem;
        }

        .question {
            color: #fff;
            font-size: 0.95em;
            line-height: 1.3;
            margin-bottom: 2rem;
        }

        .custom-control-label,
        .custom-control-input {
            cursor: pointer;
        }

        .custom-control-label::before,
        .custom-control-label::after {
            top: 0;
        }

        .custom-control {
            min-height: initial;
        }

        .options {
            background: #f9f9f9;
            border: 1px solid #d8d8d8;
            box-sizing: border-box;
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
            padding: 0.8rem 1rem;
            border-radius: 0.3rem;
            margin: 0.7rem 0;
            font-size: 0.9rem;
            vertical-align: middle;
            line-height: 1.2;
        }

        .feedback {
            margin: 1.8rem 0 0;
            font-family: $fonte-semibold;

            h4 {
                color: $amarelo;
                font-size: 1rem;
            }

            p {
                color: #fff;
                font-size: 0.8em;
                line-height: 1.1;
            }
        }

        .btn {
            background: #ebebeb;
            border-radius: 5rem;
            padding: 0;
            font-family: $fonte-semibold;
            font-size: 0.85em;
            height: 2rem;
            padding: 0 1rem;
            transition: $transition;
            color: $azul;
            border: solid 1px #ebebeb;
            letter-spacing: 0.032rem;

            &:hover {
                opacity: 0.8;
            }

            &.btn-check {
                border-color: $amarelo;
                color: $amarelo;
                background: #3e69a4;
            }

            &.btn-done {
                color: #fff;
                border-color: $azul;
                background: $azul;
            }
        }
    }

    // Versão com fundo branco
    &.quizCard-light {
        background: $bg-quiz-1;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;

        .title-card {
            background: $azul;

            h1 {
                color: #fff;
            }

            .logo-card {
                background: #e4ecf9;
            }
        }

        .body-card {
            .number {
                background: $vermelho;
                color: #fff;
            }

            .question {
                color: #333;
            }

            .options {
                background: $azul;
                border-color: $azul;
            }

            .custom-control-label {
                color: #fff;
            }

            .feedback {
                margin: 1.8rem 0 0;
                font-family: $fonte-semibold;

                h4 {
                    color: #333;
                }

                p {
                    color: $cinza-2;
                }
            }

            .btn {
                &.btn-check {
                    border-color: $azul;
                    color: $azul;
                    background: #fff;

                    &:hover {
                        background: $azul;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.box-km {
    background: $azul;
    border-radius: 0.4rem;
    max-width: 17rem;

    .km-divTop {
        background: radial-gradient(50% 67.96% at 50% 38.39%, #ffffff 0%, #eaeaeb 100%);
        border-radius: 0.3rem 0.3rem 0 0;
        padding: 1.8rem 1rem;

        .km-title {
            color: $cinza-2;
            font-family: $fonte-semibold;
            font-size: 1.35em;
            margin: 0;
        }

        .km-number {
            font-family: $fonte-digital;
            margin: 2rem 0 0;
            color: $azul;
            font-size: 2.6em;
            line-height: 1;

            span {
                border: solid 2px #BEBEBE;
                border-radius: .3rem;
                margin: 0 .06em;
                padding: 0 .25rem;
            }
        }

    }

    .km-link {
        color: $amarelo;
        width: 50%;
        margin: 0 auto;
        display: inline-block;
        line-height: 1.5;
        border: solid 1px $amarelo;
        padding: .4rem .6rem;
        border-radius: .2rem;
        font-size: .9em;
        margin: 2rem 0;

        &:hover {
            text-decoration: none;
            background: $amarelo;
            color: $azul;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .body-card {
        padding: 1.8rem 1.6em 2.5em 0 !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -270px;
        // position: absolute;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    // .content.active {
    //     width: calc(100% - 270px);
    // }
}
